/* Chung */

    /* Quy Định Cột - Tỉ Lệ Cột */
body {
    display: grid;
    grid-template-areas:
    "header-cell"
    "nav-cell"
    "main-cell"
    "footer-cell";
}

main {
    grid-area: main-cell;
    display: grid;
}

.one-col {
    grid-template-areas:
    "article-cell";

    margin: 32px 12.5%;
}

.two-cols {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left-cell right-cell";
    display: grid;
}

.two-cols-left {
    grid-template-columns: 3fr 2fr;
    grid-template-areas:"article-cell right-cell";
    display: grid;
}

.two-cols-right {
    grid-template-columns: 1fr 3fr ;
    grid-template-areas:"article-cell right-cell ";
}

.three-cols {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:"article-cell article-cell article-cell";
    display: grid;
}

.article-cell {
    margin: 0 12px;
}


aside.left-side {
    grid-area: left-cell;
    padding: 0 6px;
}

aside.righ-side {
    grid-area: right-cell;
    padding: 0 6px;
}

    aside.left-side,aside.righ-side {
    text-align:justify;
    text-justify:inter-word;
}

    /* Cài Đặt Mặc Định */
:root {
    --white-color: #fff;
    --text-color: #333;
}

* {
    box-sizing: inherit;
}

html {
    font-family: 'Montserrat',sans-serif;
    scroll-behavior: smooth;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
    color: #333;
}

a:hover {
    cursor: pointer;
    opacity: 0.6;
}

ul {
    list-style: none;
}

li {
    padding: 16px 0;
}

.m8 {
    margin: 8px;
}

.btn {
    background: none;
    
    margin-bottom: 32px;
    padding: 16px 32px;
    border: solid 1px #333;
    border-radius: 24px;
    font-size: 20px;
}

.btn:hover {
    cursor: pointer;
    
    background-color: #333;
    color: #fff;

    transition: 0.75s all ease;
}


/* Header */
header {
    grid-area: header-cell;
    display: flex;
    justify-content: center;
    
    position: fixed;
    z-index: 1;
    width: 100%;
}

    /* Logo */
#navbar__logo {
    text-align: center;
    font-size: 20px;
}

#navbar__logo img {
    position: relative;
    top: 4px;
}

    /* Navlist */
#navbar__nav-list li {
    display: inline-block;
    
    margin: 0 8px;

    text-shadow: 2px 2px 1px #ddd;
}

    /* Tools */
#navbar__tools {
    display: flex;
    flex-direction: row;

    position: absolute;
    top: 12px;
    left: 93%;
}

.navbar__tools__element {
    font-size: 24px;
}

/* Footer */
footer {
    display: grid;
    grid-area: footer-cell;

    background-color: #333;

    padding: 32px;
}

footer a {
    color: #c3c3c3;
}

.footer__title {
    color: #fff;
}

.footer__text {
    color: #c3c3c3;
    line-height: 1.6;
}

.footer__c {
    position: relative;
    top: 32px;
    right: 16px;
}

    /* Company Info */
#company-info {
    
}

.company-info__author {
    position: relative;
    left: 65%;
}

    /* Social */
#social {

}

#social img {
    position: relative;
    top: 4px;
    right: 4px;
}

    /* Address */
#address {

}

#address i {
    padding-right: 4px;
}

    /* To Top */
#to-top {
    position: fixed;
    left: 95%;
    bottom: 24px;
    display: block;
    
    border: none;
    padding: 0;

    background: none;
}

#to-top i {
    font-size: 42px;
    color: #c3c3c3;
}
/* Trang Chủ */
    /* Trang Chủ __ Chung */
.content__title {
    letter-spacing: 5px;
    text-shadow: 0 2px 4px #6d6d6d;
}

    /* Poster */
#poster {
    width: 100%;
    height: 98vh;
    background-image: linear-gradient(to right, #333 0%, transparent 40%), url(/asset/imgs/trangchu/poster.jpg);
    background-size: 100% auto;
}

#poster h1 {
    color: #fff;
    font-size: 40px;

    position: relative;
    right: 33%;
}

.car-effect {
    position: absolute;
    left: 35%;
    top: 70px;

    mix-blend-mode: exclusion;
    animation: ghost 4.5s ease-in-out infinite;
}

@keyframes ghost {
    to {left: calc(0% - 40px);}
}

#poster h3 {
    color: #fff;
    width: 500px;

    margin: 16px 32px;
}

.poster-btn {
    position: relative;
    top: 85%;
    left: 50%;
}

    /* SALE */
.sale-products {
    margin: 32px 0;
}

.sale-products__container {
    margin: 0 12px;
    
    display: flex;
    flex-direction: column;

    text-align: center;
}

.sale-products__container img {
    height: 260px;
}

.sale-products__container label {
    color: #f27878;

    position: relative;
    left: 35%;
}

.sale-products__container img:hover {
    box-shadow: 0 2px 8px #333;
}

.container__progress-bar {
    display: flex;
    flex-direction: row;

    justify-content: center;
}

.sale-products__container progress {
    height: 20px;
}

 .sale-products__container--full::after {
    content: 'Sold out';
    
    width: 30%;
    padding: 8px;
    background-color: #f27878;
    border-radius: 4px;
    box-shadow: 0 2px 4px #444;
    
    font-size: 14px;
    color: #fff;
    
    display: block;
    position: relative;
    bottom: 85%;
    left: 4px;
 }

.sold-out {
    background-color: #f27878;
    
    border-radius: 8px;
    padding: 8px;

    position: relative;
}

.sold-out p {
    margin: 0;
    font-size: 14px;
}

.sale-btn {
    position: relative;
    left: calc(50% - 90px);
}

    /* New */
.new__intro {
    text-align: center;
}

.new__intro video {
    margin: 16px 0;
    width: 100%;

    border-radius: 16px;
}

.new__list {
    text-align: center;

    margin: 32px 0;
}

.new__list__element img {
    border-radius: 16px;
}

.new__list__element:hover img {
    height: 450px;
    
    transition: 0.5s all ease;
}

    /* News */
#news {

}

.news__container {
    margin: 32px 16px;
}

.news__no1 {
    text-align: center;
}

.news__more {
    margin: 0 12px;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
}

.news__more__element {
    display: flex;
    flex-direction: column;
}

.news__more__element img {
    border-radius: 12px;
    margin-right: 12px;

    width: 75%;
    align-self: center;
}

    /* Survey + Commit */
#survey-form, #commit {
    background-color: #ddd;

    padding: 24px;
    border-radius: 16px;
}

        /* Survey */
#survey-form {
    text-align: center;
}

#survey-form input {
    margin: 16px 8px;
    background: none;
    
    border: none;
    border-bottom: 1px solid #333;
}

.survey-form__score {
    display: flex;
    justify-content: space-around;

    padding: 0;

    margin-bottom: 32px;
}

.survey-form__score li {
    padding: 16px 20px;
    border-radius: 12px;

    background-color: #fff;
}

.survey-form__score li:hover {
    cursor: pointer;
    background-color: #fff8c9;
    box-shadow: 1px 2px 6px #333;
}

.survey-form__btns {
    display: flex;
    justify-content: space-around;
}

.btn--submit:hover {
    background-color: #f27878;
    border: 1px solid #f27878;
}

        /* Commit */
.commit__list i {
    margin-right: 4px;
    color: #527b43;
}

/* SPECIAL GIFT */
#special-gift {
    height: 120px;
    width: 500px;

    display: flex;
    flex-direction: row;

    background-color: #fff;
    
    border-radius: 12px;
    padding-right: 12px;

    position: fixed;
    bottom: 24px;

    box-shadow: 0 1px 4px #c3c3c3;
    
    animation: move-in 1.5s;
	animation-fill-mode: forwards;
}

#special-gift i {
    font-size: 18px;

    position: relative;
    top: 8px;
}

@keyframes move-in {
    from {left: calc(0% - 500px);}
    to {left: 12px;}
}